<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reports To Validate</title>
</head>

<body>
    <nav>
        <div>
            <img src="" alt="logo">
        </div>
        <div>
            <a href="">Campaigns</a>
            <a href="">Campaigns Creators</a>
            <a href="">Reports</a>
            <a href="">Add Admins</a>
        </div>
        <div>
            <button type="button">v</button>
            <div>
                <img src="" alt="profile">
            </div>
        </div>
    </nav>

    <div>
        <h1>Reports</h1>
        <p>Here are the new reports that required to be validated.</p>
        <div>
            <div>
                <h3>A Greener Future</h3>
                <p>Reported by: eco_activist (donor)</p>
            </div>

            <div>
                <h3>Hearts with more accessible Technologies</h3>
                <p>Reported by: curious_detective (donor)</p>
            </div>

            <div>
                <h3>Support for Young Musical Talents</h3>
                <p>Reported by: music_inspire (campaign creator)</p>
            </div>
        </div>
    </div>

</body>

</html>