<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report Info</title>
</head>

<body>
    <nav>
        <div>
            <img src="" alt="logo">
        </div>
        <div>
            <a href="">Campaigns</a>
            <a href="">Campaigns Creators</a>
            <a href="">Reports</a>
            <a href="">Add Admins</a>
        </div>
        <div>
            <button type="button">v</button>
            <div>
                <img src="" alt="profile">
            </div>
        </div>
    </nav>

    <div>
        <a>Go Back</a>
        <h1>Report</h1>
        <div>
            <li>
                <ul>-> Title: Hearts with more accessible Technologies</ul>
                <ul>-> Creator: innovate_inclusion</ul>
                <ul>-> Reported by: curious_detective (donor)</ul>
                <ul>-> Reasons: Suspicion of misuse of the funds collected.</ul>
            </li>
            <button>Hides campaign</button>
        </div>
    </div>

</body>

</html>