<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campaign To Validate Info</title>
</head>
<body>
    <nav>
        <div>
            <a href="">Campaigns</a>
            <a href="">Campaigns Creators</a>
            <a href="">Reports</a>
            <a href="">Add Admins</a>
        </div>
        <div>
            <button type="button">v</button>
            <div>
                <img src="" alt="profile">
            </div>
        </div>
    </nav>
    <div>
         <a>Go Back</a>
         <h1>Smiles for everyone</h1>
        <div>
            <ul>
                <!--Campaign creator-->
                <li><b>Creator: </b>dentista_solidario</li>
                <!--Campaign description-->
                <li><b>Description: </b>This campaign aims to raise funds to provide free dental care to children in underserved communities</li>
                <!--Campaign goal-->
                <li><b>Goal: </b> 7 000 €</li>
            </ul>
        </div>
        <div>
            <h3>Multimedia for the campaign</h3>
            <!--Source of the images or video-->
            <img src="" alt="campaign_multimedia_1">
        </div>
        <!--Buttons to approved or reject campaign creation-->
        <div>
            <button>Aproved</button>
            <button>Reject</button>
        </div>
    </div>
</body>
</html>