<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campaigns To Validate</title>
</head>
<body>
    <nav>
        <div>
            <img src="" alt="logo">
        </div>
        <div>
            <a href="">Campaigns</a>
            <a href="">Campaigns Creators</a>
            <a href="">Reports</a>
            <a href="">Add Admins</a>
        </div>
        <div>
            <button type="button">v</button>
            <div>
                <img src="" alt="profile">
            </div>
        </div>
    </nav>
    <div>
        <h1>New Campaigns</h1>
        <p>Here are the new campaigns that required to be validated.</p>
        <!--Container to put all the campaigns to be validated-->
        <div>
            <!-- Campaign to validate example box-->
            <div>
                <!-- Campaign title-->
                <h3>Smiles for everyone</h3>
                <!-- Campaign creator info -->
                <div>
                    <img src="" alt="creator_profile">
                    <span>dentista_solidario</span>
                </div>
                <div>
                    <!--Left column-->
                    <div>
                        <!--Campaign description-->
                        <span><b>Description: </b>This campaign aims to raise funds to provide free dental care to children in underserved communities</span>
                        <!--Campaign goal-->
                        <span><b>Goal: </b>7 000 €</span>
                    </div>
                    <!--Right Column, to put tumbnail of video or the image-->
                    <div>
                        <img src="" alt="campaign_multimedia">
                    </div>
                </div>
                <a href="">Validate</a>
            </div>
        </div>
    </div>
</body>
</html>