<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campaign  Info</title>
</head>
<body>
    <nav>
        <div>
            <button type="button">v</button>
            <div>
                <img src="" alt="profile">
            </div>
        </div>
    </nav>
    <div>
        <!-- Right column -->
        <div>
            <button>Donate</button>
            
            <div>
                <h4>Donated money:</h4>
                <p>**till this moment</p>
                <div>
                    <!-- Donated money value -->
                    55 €
                </div>
            </div>
            
            <div>
                <h4>Top 5 donors:</h4>
                <p>**till this moment</p>
                <!-- List of the top 5 donors -->
                <div>
                    <!-- Donor line FOR EACH 5 OR LESS-->
                    <div>
                        <div>
                            <img src="" alt="donor_profile">
                            <span>johnDark</span>
                        </div>
                        <div>
                            <!-- Total money donated of this donor for this campaign -->
                            15€
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <h4>5 New donors:</h4>
                <p>**till this moment</p>
                <!-- List of the 5 new donors -->
                <div>
                    <!-- Donor line FOR EACH 5 OR LESS-->
                    <div>
                        <div>
                            <img src="" alt="donor_profile">
                            <span>mrWhite</span>
                        </div>
                        <div>   
                            <!-- Quantity of money donated on that new donation -->
                            1 €
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Left column -->
        <div>
            <h1>Food for kittens</h1>
            <!-- Creator info -->
            <div>
                <img src="" alt="creator_profile">
                <span>maria@jose</span>
            </div>
            <!-- Campaign goal-->
            <p><b>Goal:</b> 500€</p>
            <!-- Campaign description -->
            <div>
                Fund money to help feed the kittens at Santa Catarina park
            </div>
            <!-- Campaign description image or video -->
            <div>
            </div>
            
            <h2>Updates</h2>
            <!-- List of the updates -->
            <div>
                <!-- Update container -->
                <div>
                    <!-- Date of the update creation -->
                    <p>06/11/2023</p>
                    <div>
                        <img src="" alt="update">
                        <div>Food of the kittens brought with the donation money till now. Thank you so much for your help!</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>