<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campaign  Info</title>
</head>
<body>
    <nav>
        <div>
            <img src="" alt="logo">
        </div>
        <div>
            <button type="button">v</button>
            <div>
                <img src="" alt="profile">
            </div>
        </div>
    </nav>
    <div id="container">
        <!-- Right column -->
        <div>
            <button id="btn_donate">Donate</button>
            
            <div>
                <h4>Donated money:</h4>
                <p>**till this moment</p>
                <div>
                    <!-- Donated money value -->
                    55 €
                </div>
            </div>
            
            <div>
                <h4>Top 5 donors:</h4>
                <p>**till this moment</p>
                <!-- List of the top 5 donors -->
                <div>
                    <!-- Donor line FOR EACH 5 OR LESS-->
                    <div>
                        <div>
                            <img src="" alt="donor_profile">
                            <span>johnDark</span>
                        </div>
                        <div>
                            <!-- Total money donated of this donor for this campaign -->
                            15€
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <h4>5 New donors:</h4>
                <p>**till this moment</p>
                <!-- List of the 5 new donors -->
                <div>
                    <!-- Donor line FOR EACH 5 OR LESS-->
                    <div>
                        <div>
                            <img src="" alt="donor_profile">
                            <span>mrWhite</span>
                        </div>
                        <div>   
                            <!-- Quantity of money donated on that new donation -->
                            1 €
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Left column -->
        <div>
            <h1>Food for kittens</h1>
            <!-- Creator info -->
            <div>
                <img src="" alt="creator_profile">
                <span>maria@jose</span>
            </div>
            <!-- Campaign goal-->
            <p><b>Goal:</b> 500€</p>
            <!-- Campaign description -->
            <div>
                Fund money to help feed the kittens at Santa Catarina park
            </div>
            <!-- Campaign description image or video -->
            <div>
            </div>
            
            <h2>Updates</h2>
            <!-- List of the updates -->
            <div>
                <!-- Update container -->
                <div>
                    <!-- Date of the update creation -->
                    <p>06/11/2023</p>
                    <div>
                        <img src="" alt="update">
                        <div>Food of the kittens brought with the donation money till now. Thank you so much for your help!</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        let container = document.getElementById("container");
        let btn_donate = document.getElementById("btn_donate");
        let showPopUp = false;

        // Show pop up to pay for the donation
        btn_donate.addEventListener("click", ()=>{
            if(!showPopUp){
                container.insertAdjacentHTML("afterend",
                    `
                    <div id="donatePopUp">
                        <button>X</button>
                        <div>
                            <h2>Donate money for the campaign:</h3>
                            <h3>Food for kittens</h4>
                        </div>

                        <form action="">
                            <label>
                                <span>Anonymous donation</span>
                                <input type="checkbox">
                            </label>

                            <label>
                                <span>How much would you like to donate?</span>
                                <input type="number">
                                <span>€</span>
                            </label>

                            <label>
                                <span>Donation method</span>
                                <select name="donation_method" id="">
                                    <option value="multibanco">Multibanco</option>
                                    <option value="mbway">MBWay</option>
                                    <option value="paypal">PayPal</option>
                                    <option value="paysafecard">Paysafecard</option>
                                </select>
                            </label>

                            <button type="submit">Donate</button>
                        </form>
                    </div> 
                    `
                );
                showPopUp = ~showPopUp;
            }
            else{
                let donatePopUp = document.getElementById("donatePopUp");
                
                if(donatePopUp){ 
                    donatePopUp.remove();
                    showPopUp = ~showPopUp;
                }
            }
        });
    </script>
</body>
</html>