<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creator Their Campaigns</title>
</head>
<body>
    <nav>
        <div>
            <img src="" alt="logo">
        </div>
        <div>
            <a href="">Your Campaigns</a>
            <a href="">Campaigns</a>
        </div>
        <div>
            <button type="button">v</button>
            <div>
                <img src="" alt="profile">
            </div>
        </div>
    </nav>
    <div>
        <h1>Your Campaigns</h1>
        <p>Here are displayed the campaigns that are on going and that are validated by one of the admins.</p>
        <div>
            <a href="">Generate</a>
            <a href="">Created</a>
            <a href="">Evaluate</a>
        </div>
        <table>
            <tr>
                <th>Title</th>
                <th>Goal</th>
                <th>Money Donated (%)</th>
                <th>Actions</th>
            </tr>
            <!--Add a row for each campaign that the created have-->
            <tr>
                <!--Campaign title-->
                <td><a href="">Donate for kittens</a></td>
                <!--Campaign goal-->
                <td>200 €</td>
                <!--Campaign percentage of money donated-->
                <td>25 %</td>
                <td>
                    <button>Remove</button>
                    <button>Update</button>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>