<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creator Generate Campaign</title>
</head>
<body>
    <%- include("./partials/nav_bar.ejs") %>
    <div>
        <%- include("./partials/creator_opt_bar.ejs") %>
        <div>
            <h3>Form to generate the campaign</h3>
            <form>
                <p>Fill in the following fields to create a campaign</p>
                <span>* mandatory fields</span>

                <label>
                    <span>Campaign title: <b>*</b></span>
                    <input type="text" required>
                </label>

                <label>
                    <span>Campaign description: <b>*</b></span>
                    <textarea name="" required></textarea>
                </label>
                
                <label>
                    <span>Campaign goal: <b>*</b></span>
                    <input type="number" name="" required>
                </label>
                <label>
                    <span>Images or videos (that you like to show the donors about the campaign)</span>
                    <input type="file" name="" accept="image/png image/jpeg">
                </label>
                <div>
                    <button type="submit">Generate</button>
                    <p>** This form will be sent to administrators for evaluation and if approved, the campaign will be created and published automatically</p>
                </div>
            </form>
        </div>
    </div>
</body>
</html>