<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs", {title: "Creator Generate Campaign"});  %>
<body>
    <%- include("./partials/nav_bar.ejs") %>
    <div>
        <%- include("./partials/creator_opt_bar.ejs") %>
        <div>
            <h3>Form to generate the campaign</h3>
            <form>
                <p>Fill in the following fields to create a campaign</p>
                <span>* mandatory fields</span>

                <label>
                    <span>Campaign title: <b>*</b></span>
                    <input type="text" required>
                </label>

                <label>
                    <span>Campaign description: <b>*</b></span>
                    <textarea name="" required></textarea>
                </label>
                
                <label>
                    <span>Campaign goal: <b>*</b></span>
                    <input type="number" name="" required>
                </label>
                <label>
                    <span>Images or videos (that you like to show the donors about the campaign)</span>
                    <input type="file" name="" accept="image/png image/jpeg">
                </label>
                <div>
                    <button type="submit">Generate</button>
                    <p>** This form will be sent to administrators for evaluation and if approved, the campaign will be created and published automatically</p>
                </div>
            </form>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>