<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <nav>
        <div>
            <button type="button">v</button>
            <div>
                <img src="" alt="profile">
            </div>
        </div>
    </nav>
    <div>
        <h1>Campaigns</h1>
        <!-- Container where is gonna go the campaign preview FOR EACH CAMPAIGN -->
        <div>
            <!-- Campaign title -->
            <h3>Food for kittens</h3>
            <!-- Campaign creator username and profile -->
            <div>
                <img src="" alt="creator_profile">
                <span>maria@jose</span>
            </div>
            <!-- Campaign goal -->
            <p><b>Goal: </b>500€</p>
            <!-- Campaign description-->
            <div>
                Fund money to help feed the kittens at Santa Catarina park
            </div>
            <!-- Progress bar, you will need to give de percentage of money funded and change both percentage values on the linear gradient -->
            <div style="background: linear-gradient(to right, green 20%, white 20%);"></div>
        </div>
    </div>
</body>
</html>