<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset password</title>
</head>

<body>
    <%- include("./partials/nav_bar.ejs"); %>
        <!-- Container where is gonna go the forgot password form -->
        <div>
            <a href="">Go Back</a>
            <!-- Forgot password title -->
            <h3>Reset your password</h3>
            <form action="login_forgot_password.ejs" method="POST">
                <!-- Username input -->
                <p>Username</p>
                <input type="text" name="username" value="">
                <!-- New password -->
                <p>Enter Password</p>
                <input type="password" name="password">
                <!-- Confirm new password -->
                <p>Confirm new password</p>
                <input type="password" name="confirm_password">
                <button type="submit">Reset Password</button>
            </form>
        </div>
</body>

</html>