<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset password</title>
</head>

<body>
    <nav>
        <div>
            <img src="" alt="logo">
        </div>
    </nav>
    <!-- Container where is gonna go the forgot password form -->
    <div>
        <a>Go Back</a>
        <!-- Forgot password title -->
        <h3>Reset your password</h3>
        <form action="forgot_password" method="POST">
            <!-- Username input -->
            <p>Username</p>
            <input type="username" name="username">
            <!-- New password -->
            <p>Enter Password</p>
            <input type="password" name="password">
            <!-- Confirm new password -->
            <p>Confirm new password</p>
            <input type="password" name="confirm_password">
            <button type="submit">Reset Password</button>
        </form>
    </div>
</body>

</html>