<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <%- include("./partials/nav_bar.ejs"); %>
        <!-- Container where is gonna go the login form -->
        <section>
            <!-- Login title -->
            <h3>Login</h3>
            <form action="login.ejs" method="POST"></form>
            <!-- Username and password inputs -->
            <p>Username</p>
            <input type="text" name="username">
            <p>Password</p>
            <input type="password" name="password">
            <!-- Forgot password link -->
            <a href="login_forgot_password.ejs">Forgotten your password?</a>
            <!-- Login button -->
            <button type="submit">Login</button>
            </form>
            <!-- Register link -->
            <a href="register.ejs">Create account</a>
        </section>
</body>

</html>