<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <%- include("./partials/nav_bar.ejs") %>
    <div>
       <!--Left column-->
       <div>
            <img src="data:image/gif;base64,<%= user.image %>" alt="profile">
       </div>
       <!--Right column-->
       <div>
        <form action="">
            <label>
                <span>Username</span>
                <textarea name="username"><%= user.username %></textarea>
            </label>
        </form>
        
        <div>
            <!--Divisor-->
        </div>

        <form action="">
            <label>
                <span>Current Password:</span>
                <input type="text" required>
            </label>
            <label>
                <span>New Password:</span>
                <input type="text">
            </label>
            <label>
                <span>Confirm New Password:</span>
                <input type="text">
            </label>
            <button type="submit">Change Password</button>
        </form>
       </div>
    </div>
</body>
</html>